# ── Spring ───────────────────────────────────
SPRING_PROFILES_ACTIVE=prod
JPA_DDL_AUTO=update
TZ=Asia/Ho_Chi_Minh

# ── MySQL ────────────────────────────────────
MYSQL_ROOT_PASSWORD=1234567890
MYSQL_DATABASE=demo_db

# ── Spring Datasource ────────────────────────
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/demo_db?allowPublicKeyRetrieval=true&useSSL=false
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=1234567890

# ── Docker ───────────────────────────────────
DOCKERHUB_USERNAME=dautruongdt
IMAGE_NAME=dautruongdt/demo-cicd:latest
